<div class="col-md-6 offset-md-3">
    <h3>Feedback</h3>
    <form (ngSubmit)="onSubmit()">
<div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" id="userEmail" [(ngModel)]="user.userEmail" name="userEmail">

</div>
<div class="form-group">
    <label>Room Number</label>
    <input type="text" class="form-control" id="roomId" [(ngModel)]="user.roomId" name="roomId">
    
</div>
<div class="form-group">
    <label>Comment</label>
    <input type="text" class="form-control" id="comments" [(ngModel)]="user.comments" name="comments">
    
</div>
<div class="form-group">
    <label>Rating</label>
    <input type="text" class="form-control" id="serviceRating" [(ngModel)]="user.serviceRating" name="serviceRating">
    
</div>
<button class="btn-btn-success" type="submit">SUBMIT</button>
    </form>
</div>