/* .header {
    background-color: #734d26;
    color: white
    
} */
.container{
    margin-top: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#btnsubmit {
    text-align: center;
}

.form-group1 {
    text-align: center;
}

p.container {
    border-style: solid;
}

.backpage {
    color: red;
}