<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aboutus </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    
    <div class="page-wrap gold">
        <div class="banner">
            <div class="page-spaceing">
                <div><img src="assets/g.jpg" alt="" width="300px"></div>
                <h1>SEVEN-STAR PARADISE</h1><br>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <div class="bnr-img flex-prt">
                    <div class="img-prt-one">
                        <img src="assets/hotal-img-1.jpg" alt=""with="1000px">
                    </div>
                    <div class="img-prt-two">
                        <img src="assets/hotal-img-2.jpg" alt="">
                        <img src="assets/hotal-img-3.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
        <div>
           
        </div>
        <div class="four-prt">
            <div class="page-spaceing">
                <div class="header-g">
                <h2 >EXPLORE 7-Star PARADISE</h2>
            </div>
        <div class="four-box">
            
            <div class="four-box-img">
                <img src="https://www.tajhotels.com/content/dam/tajhotels/in/en/themes/Beach_dining_theme.png/jcr:content/renditions/cq5dam.web.512.512.png" alt="">
            </div>
            <div class="four-box-content">
                <h3>BEACH RETREATS</h3>
                <p>Wake up to the sound of waves lapping lazily at the shore. Uncover serenity and marvel at the wealth of beauty within the glittering blue seas. Give in to the siren song of the sun, sand and surf with Beach Retreats.</p>
            </div>
            <div  class="four-box-img">
                <img src="https://www.tajhotels.com/content/dam/tajhotels/in/en/themes/hill_station_theme.png/jcr:content/renditions/cq5dam.web.512.512.png" alt="">
            </div>
            
            <div class="four-box-content">
                <h3>HILL STATIONS</h3>
                <p>Gaze at the mist rolling in over the hill-tops from your luxurious villa. Marvel at glorious sunsets that will take your breath away from a private deck.</p>
            </div>
            
            <div  class="four-box-content">
                <h3>ROYAL INDIA</h3>
                <p>Wander through the storied halls of a fairy tale palace, where dreams come to life. Retreat into your majestic suite, inspired by elegance.</p>
            </div>
            <div  class="four-box-img">
                <img src="https://www.tajhotels.com/content/dam/tajhotels/in/en/themes/royal_theme.png/jcr:content/renditions/cq5dam.web.512.512.png" alt="">
            </div>
            <div class="four-box-content">
                <h3>URBAN GETAWAYS</h3>
                <p>There is magic to be found in the energy of a bustling city. Where vibrant markets offer you everything you could imagine and centuries of history hide in the most unassuming places. Discover the world’s most spectacular urban hubs.</p>
            </div>
            <div  class="four-box-img">
                <img src="https://www.tajhotels.com/content/dam/tajhotels/in/en/themes/Urban_Getaways.jpg/jcr:content/renditions/cq5dam.web.512.512.jpeg" alt="">
            </div>
            
        </div>
    </div>
</div>

        <div  class="bottm-prt">
            <div class="page-spaceing">
                <h2>Happy Holiday with RESIDENCY</h2>
                <i class="fa fa-instagram" style="font-size:36px"></i>
                <i class="fa fa-facebook-f" style="font-size:36px"></i>
                <i class="fa fa-twitter" style="font-size:36px"></i>
                <i class="fa fa-youtube-play" style="font-size:36px"></i>
            </div>

        </div>
         </div>  
   </body>

</html>
